<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>App</string>
  <key>CFBundleIdentifier</key>
  <string>io.flutter.flutter.app</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>App</string>
  <key>CFBundlePackageType</key>
  <string>FMWK</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>MinimumOSVersion</key>
  <string>11.0</string>
  <key>flutter_apns.disable_swizzling</key>
  <false/>
  <key>flutter_apns.disable_firebase_core</key>
  <false/>
  <key>FLTEnableImpeller</key>
  <false/>
  <key>NSUserTrackingUsageDescription</key>
	<string>을 추가합니다. 추가되는 문구는 앱 추적 동의 팝업 창에 노출됩니다</string>
  <key>NSCameraUsageDescription</key>
	<string>Allows access camera to take photo to update avatar.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Exchange data with nearby devices running the Yourapp.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Turning on location services allows us to show you when the store is nearby.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Turning on location services allows us to show you when the store is nearby</string>
	<key>NSLocationUsageDescription</key>
	<string>Turning on location services allows us to show you when the store is nearby.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turning on location services allows us to show you when the store is nearby.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to the microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allows access camera to take photo to update avatar.</string>
  <key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
  <key>NSAppTransportSecurity</key>
  <dict>
		  <key>NSAllowsArbitraryLoads</key>
		  <true/>
		  <key>NSExceptionDomains</key>
		  <dict>
			    <key>tnkfactory.com</key>
			    <dict>
				      <key>NSIncludesSubdomains</key>
				      <true/>
				      <key>NSExceptionRequiresForwardSecrecy</key>
				      <false/>
				      <key>NSExceptionAllowsInsecureHTTPLoads</key>
				      <true/>
			    </dict>
		  </dict>
	</dict>
</dict>
</plist>
